extends layout
include mixins/crearProyecto
block content
    .contenido-principal
        h1= nombrePagina        
        if errores
            each e in errores
                .alerta= e.texto
        +crearProyecto(proyecto)